Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Deploying to gh-pages from @ uploadcare/blocks@bc8c5e8c98f86068c2c8ba53ebded9404c712845 🚀
  README.md
  blocks/README.md
  blocks/index.html
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
  solutions/adaptive-image/README.md
  solutions/adaptive-image/index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
Due: prettier --write --parser html, prettier --write --parser markdown

chore: bump symbiote.js
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

docs: set script pinned versions on build stage
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
  static-gen/build.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@c0c620e1ccf11944c3d4e31aad4cf16820be3324 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

docs: fix link
  blocks/README.md
Due: prettier --write --parser markdown

fix(external-source): disable `done` button when no files selected
  blocks/ExternalSource/ExternalSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: replace `EditableCanvas` with simplified `FilePreivew` component
  TOC.md
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/lib/preloadImage.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/template.js
  blocks/FileItem/FileItem.js
  blocks/FilePreview/FilePreview.js
  blocks/FilePreview/file-preview.css
  blocks/FilePreview/ref.htm
  blocks/FilePreview/test.js
  blocks/README.md
  blocks/themes/lr-basic/index.css
  index.js
  utils/transparentPixelSrc.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

fix(external-source): disable `done` button when no files selected (#278)
  blocks/ExternalSource/ExternalSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@7ae584fc5dc1cab7e9718ea0ae2f4340b331a2dd 🚀
  blocks/ExternalSource/ExternalSource.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

fix: svg image preview rendering in firefox
  blocks/FilePreview/FilePreview.js
  blocks/FilePreview/file-preview.css
  blocks/UploadDetails/UploadDetails.js
  blocks/utils/resizeImage.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(lr-image): set provided custom `cdn-cname` when uuid attr passed
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(lr-image): don't proxify already uploaded images
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(lr-image): return data: and blob: sources as is
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@fb6b24ea38223cbf0d968fa6f9195584d20b6270 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-item): uploading from external url (typo)
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: unobserve upload collection on destroy
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): uploading from external url (typo) (#281)
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: unobserve upload collection on destroy (#282)
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@2c871e1a1f77d82731b48374cef2713be90f3d64 🚀
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@ded313146d69c880ce595a014d2f58da5fbbdbcd 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: update symbiote to v1.11.1
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@78f970b3fa2828b63d475abcd2f4dacde7f32d24 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: check file mime type before upload
  abstract/UploaderBlock.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  blocks/themes/lr-basic/l10n.css
  utils/fileTypes.js
  utils/fileTypes.test.js
  utils/imageMimeTypes.js
  utils/mergeMimeTypes.js
  utils/mergeMimeTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@0d65251a1fde3d206016f970af6361f6b25f305b 🚀
  abstract/UploaderBlock.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  blocks/themes/lr-basic/l10n.css
  index.html
  utils/fileTypes.js
  utils/fileTypes.test.js
  utils/imageMimeTypes.js
  utils/mergeMimeTypes.js
  utils/mergeMimeTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

fix(file-item): do not handle empty mime types
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

refactor(file-item): bind current entry to the subscribe handler
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): skip `isImage` check for the external files before upload
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

refactor(upload-list): improve toolbar buttons visibility logic
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(uploader-block): fix array destructuring mistake
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): check for allowed mime types list length before check
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@c014ae37fd4034d9ce2d596259d803351ed8808e 🚀
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@5746052c9947690b6be9964845065571f8c833d2 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@73fdf3a0d9e5b66ee39c767b06a08cfab0a7f94f 🚀
  blocks/README.md
  blocks/index.html
  index.html
Due: prettier --write --parser html, prettier --write --parser markdown

feat: add export of `ShadowWrapper`
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: count blocks number in the registry and unobserve upload collection when there are no any registred blocks
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-minimal): add missing translations
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix(file-uploader-minimal): add missing translations (#291)
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css
