Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: improve drop-area conflicts detection
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix camera inline height
  blocks/CameraSource/camera-source.css
Due: stylelint --fix, prettier --write --parser css

chore: improve dialog fallback
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/themes/lr-basic/common.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: update copyright url
  blocks/Copyright/Copyright.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix minimal mode start-from background
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/minimal/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: update template examples
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/test/wrapped.htm
Due: prettier --write --parser markdown

chore: update changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: remove `<lr-confirmation-dialog />` from the layout
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore: update readme - add warning about semver following
  get-started/installation/README.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@f94fc2494be6d42b4b610cd0d2be6bccb716cf84 🚀
  CHANGELOG.md
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/index.html
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  env.js
  get-started/configuration/index.html
  get-started/installation/README.md
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-item): dont show edit button if `--cfg-use-cloud-image-editor` flag is false
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): dont show edit button if `--cfg-use-cloud-image-editor` flag is false (#374)
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@85d79bb30cfbd751471e9186ec65cedd468fcd75 🚀
  blocks/FileItem/FileItem.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@e38cce3b717534acd7f0931b90a7421edd697c61 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(upload-list): undefined files count in the header
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(upload-list): undefined files count in the header (#376)
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@c8979864c6fe1a3ac1231caff1538263356ecf66 🚀
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@6e0998070ccaab4d6db0929da27f8f3a873592f0 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-uploader-inline): hide close button
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css

feat: add `LR_DONE_FLOW` and `LR_INIT_FLOW` events
  abstract/EventManager.js
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
  docs/events/README.md
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: add inline test example
  blocks/test/raw-inline.htm
Due: none

Deploying to gh-pages from @ uploadcare/blocks@2ca985e1309d077c3d5f29ede4d0b61b0a76b92e 🚀
  abstract/EventManager.js
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
  blocks/test/raw-inline.htm
  docs/events/README.md
  docs/events/index.html
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@94d2fb62fd8fcba286689f507d886bd3657e3669 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: do not call init flow without user interaction
  blocks/UploadList/UploadList.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: do not call init flow without user interaction (#380)
  blocks/UploadList/UploadList.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@be100a5ef0bc254d62f89ad776482b07bda27d3f 🚀
  blocks/UploadList/UploadList.js
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

fix(file-uploader-inline): show back button
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/modal.css
  blocks/UploadDetails/UploadDetails.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(file-uploader-inline): show back button (#381)
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/modal.css
  blocks/UploadDetails/UploadDetails.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@cb83ebe7b399cee80af00489b0b1a7c4b4aa77bb 🚀
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/modal.css
  blocks/UploadDetails/UploadDetails.js
  blocks/UrlSource/UrlSource.js
  index.html
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@0fd6abc366d87dffb5f0654c63dc6270440cebbc 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

feat(cloud-image-editor): Add `change` event
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): dispatch events with `bubble` and `composed` flags
  blocks/CloudImageEditor/src/state.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): fix extraction of `filter` operation with undefined value
  blocks/CloudImageEditor/src/lib/transformationUtils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): pause render until container get non-zero size
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@66947fbd0f8b8d40d9302a3c787539b290c961dc 🚀
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/types.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@1cfee95beec3b4c030ab1b3512f554cfd49bb56a 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown
