Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: rename cloud-image-editor's cdnUtils to transformationUtils
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditor/src/util.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: cdn url utils (#150)
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditor/src/util.js
  blocks/Img/ImgBase.js
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: file-max-size (#152)
  abstract/Block.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  blocks/themes/uc-basic/config.css
  blocks/themes/uc-basic/l10n.css
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: cloud editor enabled by default
  blocks/themes/uc-basic/config.css
Due: stylelint --fix, prettier --write --parser css

chore: fix clean npm script
  package.json
Due: prettier --write --parser json

chore(cdn-utils): add methods to trim/extract filenames from url
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `--cfg-cdn-base` option
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/UploadDetails/UploadDetails.js
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(cloud-image-editor): add separate config for the solution
  blocks/themes/uc-basic/config.css
  solutions/cloud-image-editor/config.css
  solutions/cloud-image-editor/index.css
Due: stylelint --fix, prettier --write --parser css

chore: refactor cdn-utils and add support for proxyfied urls
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update readme
  docs/configuration/README.md
Due: prettier --write --parser markdown

chore(cdn-utils): remove `withTrailingSlash`
  utils/cdn-utils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(cdn-utils): add support for search params for proxy url
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(cdn-utils): refactor
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): cropper typo
  blocks/CloudImageEditor/src/EditorImageCropper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(cdn-utils): use plain string manipulation
  utils/cdn-utils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: uc > lr replacement stage 2
  README.md
  assets/js/app-shell.js
  blocks/Img/index.html
  blocks/README.md
  package-lock.json
  package.json
  solutions/adaptive-image/README.md
  solutions/adaptive-image/demo.snippet.htm
  solutions/file-uploader/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: rename `--cfg-cdn-base` to `--cfg-cdn-cname`
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/UploadDetails/UploadDetails.js
  blocks/themes/uc-basic/config.css
  css-types.js
  docs/configuration/README.md
  solutions/cloud-image-editor/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

fix(upload-details): render preview image with `format/auto` and `preview` operations
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: limit default css props type inside Block component
  abstract/Block.js
  blocks/ExternalSource/ExternalSource.js
  blocks/SourceList/SourceList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `--cfg-secure-expire` and `--cfg-secure-signature`
  blocks/FileItem/FileItem.js
  blocks/themes/uc-basic/config.css
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: add type for upload options
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: `cdn-base` -> `cdn-cname`
  abstract/Block.js
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore(utils): add deep property accessor
  utils/getProperty.js
  utils/getProperty.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(uc-configuration): add it to the index
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(applyTemplateData): add support for deep properties
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `uc-configuration` block
  blocks/Configuration/Configuration.js
  blocks/Configuration/index.html
  blocks/Configuration/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

chore(secure-delivery-test-server): handle additional parameter and log it
  secure-delivery-proxy.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add secure delivery proxy test server
  secure-delivery-proxy.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `--cfg-preview-proxy` and `*previewUrlCallback` state
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  blocks/test/raw.html
  blocks/themes/uc-basic/config.css
  css-types.js
  solutions/cloud-image-editor/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

chore: ignore lgtm warning
  secure-delivery-proxy.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: rename callback argument name
  abstract/Block.js
  blocks/test/raw.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

chore: normalize callback `fileInfo` argument type
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/test/raw.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

chore(applyTemplateData): add test for `transform` option
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(FileItem): error icon
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add comment
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: run `--cfg-preview-proxy` sub right after binding
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write
