Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@96ed801ac4d4d7aa9b737a2f544880ed63fb7805 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore(upload-list): remove unused property
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-list): enable `Upload` button if any file isn't started uploading
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(uploader-block): do not history back if no any files in the collection
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(typed-collection): notify subscribers about added and removed items
  abstract/TypedCollection.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): proper request abort, restore state on new entry, optimize thumb generation
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/utils/debounce.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix debounce types
  blocks/utils/debounce.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

docs update
  .idea/.gitignore
  .idea/blocks.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

chore: refactor
  abstract/TypedCollection.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove .idea
  .idea/.gitignore
  .idea/blocks.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

feat(typed-collection): check type with instanceof
  abstract/TypedData.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: store `uploadError` instead of `uploadErrorMsg`
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): calculate state in the single place
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write --parser markdown

restored solution's folder name
  .stylelintrc.cjs
  README.md
  TOC.md
  blocks/README.md
  build-items.js
  get-started/configuration/README.md
  index.js
  solutions/adaptive-image/README.md
  solutions/adaptive-image/demo.htm
  solutions/adaptive-image/index.js
  solutions/adaptive-image/test.css
  solutions/cloud-image-editor/CloudEditor.js
  solutions/cloud-image-editor/README.md
  solutions/cloud-image-editor/config.css
  solutions/cloud-image-editor/demo.htm
  solutions/cloud-image-editor/index.css
  solutions/cloud-image-editor/index.js
  solutions/file-uploader/README.md
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/README.md
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/inline/index.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/README.md
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  solutions/file-uploader/regular/README.md
  solutions/file-uploader/regular/demo.htm
  solutions/file-uploader/regular/index.css
  solutions/file-uploader/regular/index.js
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@7012f011eaab9bafa8342163201faa06c316dd14 🚀
  abstract/TypedCollection.js
  abstract/TypedData.js
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/UploadList/UploadList.js
  blocks/utils/debounce.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

chore: remove unused code
  solutions/file-uploader/inline/index.js
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: use skypack internally
  static-gen/importmap.json
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: use unpkg for user examples
  blocks/README.md
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

chore: fix example url import
  blocks/README.md
Due: prettier --write --parser markdown

chore: bump pinned versions
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

docs: fix root menu links
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

docs: fix root menu links (#266)
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-list): do not close modal automatically if `--cfg-confirm-upload` enabled
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): prevent flickering
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): regenerate thumb on image edit
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: bump pinned versions (#265)
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@6fdd64d0946582a6455669ecfbb711695df5b87f 🚀
  get-started/configuration/README.md
  get-started/configuration/index.html
  get-started/installation/README.md
  get-started/installation/index.html
  index.html
  solutions/adaptive-image/README.md
  solutions/adaptive-image/index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
Due: prettier --write --parser html, prettier --write --parser markdown

docs: apply base path for css template
  static-gen/build.js
  static-gen/styles/css.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

docs: fix relative links
  README.md
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

docs: preprocess md links
  static-gen/build.js
  static-gen/mdProcessor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

docs: use absolute links everywhere
  README.md
  TOC.md
  blocks/README.md
  docs/styling/README.md
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@18b8744cfc29f4a0f747c82ed7dda30b19d20d2b 🚀
  README.md
  TOC.md
  blocks/README.md
  blocks/index.html
  docs/output/index.html
  docs/styling/README.md
  get-started/configuration/index.html
  get-started/configuration/secure-delivery-proxy/index.html
  get-started/installation/index.html
  index.html
  solutions/file-uploader/index.html
  static-gen/build.js
  static-gen/mdProcessor.js
  toc.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser markdown

fix: rework history
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/Modal.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: restored external links with md markup
  README.md
  blocks/README.md
  get-started/configuration/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@31ad363cb338f25f67f3dc2d8829ad11d461f10f 🚀
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
