Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: simplify string template
  abstract/Block.js
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
  utils/stringTemplate.js
  utils/stringTemplate.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: implement minmax files count limitation (#143)
  abstract/Block.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/MessageBox/message-box.css
  blocks/UploadList/UploadList.js
  blocks/test/raw.html
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/config.css
  blocks/themes/uc-basic/l10n.css
  docs/configuration/README.md
  package-lock.json
  package.json
  solutions/file-uploader/inline/FileUploaderInline.js
  tsconfig.json
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: ignore long jsdoc lines for prettier
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: apply format
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.js
  blocks/CloudImageEditor/src/lib/cdnUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/messages.js
  blocks/ExternalSource/query-string.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add JSX types
  .gitignore
  global.d.ts
Due: none

chore: normalize some types
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix format scripts
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/UrlSource/UrlSource.js
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: cover all the blocks with typed state
  abstract/Block.js
  blocks/ActivityCaption/ActivityCaption.js
  blocks/ActivityIcon/ActivityIcon.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/elements/button/UcBtnUi.js
  blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/Color/Color.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  blocks/EditableCanvas/CanMan.js
  blocks/EditableCanvas/EditableCanvas.js
  blocks/EditableCanvas/EditableCanvasToolbar.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Icon/Icon.js
  blocks/MessageBox/MessageBox.js
  blocks/Modal/Modal.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBarCommon/ProgressBarCommon.js
  blocks/Range/Range.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: typed `sub`
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/EditableCanvas/EditableCanvasToolbar.js
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: refactor css types build
  build-css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add pubkey default value to config.css
  blocks/themes/uc-basic/config.css
  build-css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: assume untyped state properties as `unknown`
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: types for css config
  .prettierrc
  abstract/Block.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorSlider.js
  build-css-types.js
  css-types.js
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: fix typo
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix types
  blocks/UploadList/UploadList.js
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add skeleton for jsx types build
  build-jsx-types.js
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore(rename): done -> ok
  blocks/UploadDetails/UploadDetails.js
  blocks/themes/uc-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: use `:where` to achive 0 specificity for default config values
  blocks/themes/uc-basic/config.css
Due: stylelint --fix, prettier --write --parser css

chore: remove unneeded :host
  blocks/CloudImageEditor/src/css/common.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/config.css
Due: stylelint --fix, prettier --write --parser css

chore: fix config.css syntax
  blocks/themes/uc-basic/config.css
Due: stylelint --fix, prettier --write --parser css

chore: use `:where` to achive 0 specificity for default config values (#147)
  blocks/CloudImageEditor/src/css/common.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/config.css
Due: stylelint --fix, prettier --write --parser css

fix(upload-list): update buttons state on upload progress
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): fix url constructor
  blocks/CloudImageEditor/src/lib/cdnUtils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix comment
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: css lint rules disable
  .stylelintrc.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: make `--cfg-img-only` option work
  abstract/Block.js
  abstract/imageMimeTypes.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add warning when both accept and image only props set
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: extract mime type merger
  abstract/Block.js
  abstract/imageMimeTypes.js
  utils/mergeMimeTypes.js
  utils/mergeMimeTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: move imageMimeTypes list
  abstract/Block.js
  utils/imageMimeTypes.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: make `--cfg-img-only` option work (#151)
  abstract/Block.js
  utils/imageMimeTypes.js
  utils/mergeMimeTypes.js
  utils/mergeMimeTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: minor bugs (#149)
  blocks/CloudImageEditor/src/lib/cdnUtils.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: file size validation
  abstract/Block.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  blocks/themes/uc-basic/config.css
  blocks/themes/uc-basic/l10n.css
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: move multiple-min/multiple-max cfg props upper to multiple
  blocks/themes/uc-basic/config.css
  docs/configuration/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: hide `add more` button on single file mode
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: upload-list toolbar layout
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: remove unused import
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: refactor cdn url utils
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/lib/cdnUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/util.js
  blocks/Img/ImgBase.js
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
