Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: rework pluralization string format
  abstract/Block.js
  blocks/Img/ImgBase.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
  utils/template-utils.js
  utils/template-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: use native API for pluralization
  abstract/Block.js
  abstract/CTX.js
  abstract/pluralizers.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: set black background on darkmode
  assets/htm/blocks-demo.htm
  blocks/DropArea/DropArea.js
  blocks/LiveHtml/LiveHtml.js
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/raw.htm
  blocks/test/split-mode.htm
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

UploadList: header text padding
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

DropArea hover update
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

temporary: FileItem: remove hover
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

ExternalSource: fix "Selected" color
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

l10n: google stuff
  blocks/themes/lr-basic/l10n.css
Due: stylelint --fix, prettier --write --parser css

UrlSource quick fix
  blocks/UrlSource/UrlSource.js
  blocks/UrlSource/url-source.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

DropArea hover darkmode fix
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

CameraSource minor tweaks
  blocks/CameraSource/camera-source.css
  blocks/themes/lr-basic/l10n.css
Due: stylelint --fix, prettier --write --parser css

chore: close modal on backdrop click, close btn click or esc
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

DropArea: added fullscreen mode
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

UrlSource minor tweaks
  blocks/UrlSource/url-source.css
  blocks/themes/lr-basic/common.css
Due: stylelint --fix, prettier --write --parser css

added credits
  blocks/themes/lr-basic/common.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

SourceBtn minor fix
  blocks/SourceBtn/source-btn.css
Due: stylelint --fix, prettier --write --parser css

chore: use container queries to make lr-start-from adaptive
  .stylelintrc.cjs
  package.json
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

chore: separate activity in-modal styles out of default ones
  blocks/CameraSource/camera-source.css
  blocks/CloudImageEditor/index.css
  blocks/ExternalSource/external-source.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

chore: open modal when files added through system dialog
  abstract/Block.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix fullscreen droparea
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix backdrop
  blocks/Modal/modal.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

chore: fix `edit` button visibility
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix demo
  solutions/file-uploader/minimal/demo.htm
Due: none

chore: update lockfile
  package-lock.json
Due: prettier --write --parser json

chore: refactor plural
  utils/template-utils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove unused variable
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix css import
  blocks/Video/video.css
Due: stylelint --fix, prettier --write --parser css

chore: do not use slots inside DropArea to prevent conflicts with the host shadow dom
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: ignore drop events on fullscreen drop-area to prevent conflicts
  abstract/Block.js
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: allow to pass children to the solution block wrappers
  abstract/SolutionBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix prettier config
  .prettierrc
Due: none

chore: safari fixes
  blocks/DropArea/drop-area.css
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

chore: bump symbiote & upload-client
  blocks/test/raw.htm
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

chore: add separate test pages for regular and minimal
  blocks/test/raw-minimal.htm
  blocks/test/raw-regular.htm
Due: none

chore: bump upload-client
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: fix DropArea behaviour with file count limits
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: fix styling issues
  blocks/DropArea/drop-area.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

chore: extract copyright as separate block
  blocks/Copyright/Copyright.js
  blocks/Copyright/copyright.css
  blocks/StartFrom/start-from.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/index.css
  index.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: refactor drop-area.css
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css
