Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Deploying to gh-pages from @ uploadcare/blocks@953db97b1a05adafffbdca23efe51ed85c72e77d 🚀
  README.md
  TOC.md
  assets/htm/blocks-demo.htm
  assets/htm/regular-uploader-solution-demo.htm
  blocks/README.md
  blocks/index.html
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  blocks/themes/lr-basic/README.md
  blocks/themes/lr-basic/index.html
  docs/activities/README.md
  docs/activities/index.html
  docs/output/README.md
  docs/output/index.html
  docs/styling/README.md
  docs/styling/index.html
  get-started/configuration/README.md
  get-started/configuration/index.html
  get-started/installation/README.md
  get-started/installation/index.html
  get-started/localization/README.md
  get-started/localization/index.html
  index.html
  solutions/adaptive-image/README.md
  solutions/adaptive-image/index.html
  solutions/cloud-image-editor/demo.htm
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
  static-gen/build.js
  toc.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser markdown

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Deploying to gh-pages from @ uploadcare/blocks@de646bf4cd7400e632a7ac9dca51e4fb5f2a067f 🚀
  index.html
Due: prettier --write --parser html

fix: wrap `::backdrop` with `:is` to prevent ignoring from unsupported browsers
  blocks/Modal/modal.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix: wrap `::backdrop` with `:is` to prevent ignoring from unsupported browsers (#332)
  blocks/Modal/modal.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@e3ef6919f3154c7d0017df73c1a5ba63c0a0e996 🚀
  blocks/Modal/modal.css
  blocks/themes/lr-basic/theme.css
  index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@af20650a263632697d023cfec8d82d49da95cc0b 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

StartFrom - 1 column
  blocks/StartFrom/start-from.css
Due: stylelint --fix, prettier --write --parser css

drop-area first, added big-icon mode
  blocks/DropArea/drop-area.css
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

StartFrom - large gaps
  blocks/StartFrom/start-from.css
Due: stylelint --fix, prettier --write --parser css

modal styles 1
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

SourceBtn, gaps and paddings
  blocks/SourceBtn/source-btn.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

bug temporary workaround
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

remove :host from CloudImageEditor
  blocks/CloudImageEditor/src/css/common.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

source-btn new styles
  blocks/SourceBtn/source-btn.css
Due: stylelint --fix, prettier --write --parser css

Icon - added fill-rule="evenodd"
  blocks/Icon/Icon.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

partially replaced icons
  blocks/themes/lr-basic/icons.css
Due: stylelint --fix, prettier --write --parser css

more icon updates
  blocks/Icon/icon.css
  blocks/SourceBtn/source-btn.css
  blocks/themes/lr-basic/config.css
Due: stylelint --fix, prettier --write --parser css

values tweaking
  blocks/Icon/icon.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

more value tweaks
  blocks/SourceBtn/source-btn.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

DropArea animation done
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

intermediate commit
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
  blocks/UploadList/upload-list.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

intermediate commit
  blocks/DropArea/drop-area.css
  blocks/Icon/icon.css
Due: stylelint --fix, prettier --write --parser css

intermediate commit
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/icons.css
Due: stylelint --fix, prettier --write --parser css

simplified buttons
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

activity icon is not mandatory
  blocks/ActivityIcon/ActivityIcon.js
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
  blocks/Modal/modal.css
  blocks/StartFrom/StartFrom.js
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

🤦‍♂️
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix dialog:backdrop
  blocks/DropArea/drop-area.css
  blocks/Modal/modal.css
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

minor tweaks
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
  blocks/Modal/modal.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

simplify inputs
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

define modalHeaderHidden and activityIcon everywhere
  blocks/CameraSource/CameraSource.js
  blocks/ExternalSource/ExternalSource.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

minor tweaks
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

camera ui rework
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

adaptivity
  blocks/CameraSource/camera-source.css
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

few updates for minimal version
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

FileItem badge update
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

generic file icon update
  blocks/svg-backgrounds/svg-backgrounds.js
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

unify small icon buttons
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/themes/lr-basic/common.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

minor tweaks
  blocks/Modal/modal.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

minor tweaks
  blocks/SimpleBtn/simple-btn.css
Due: stylelint --fix, prettier --write --parser css
