Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Deploying to gh-pages from @ uploadcare/blocks@2ee8964f62343d4460640e29cefa0ba74de24695 🚀
  index.html
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@b02df52b3f7e720bc09b00f8158d56dfc16dc20e 🚀
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  index.html
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@a42686cae966b49828ed1d54d735ddfada906a0b 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-item): cancel debounced thumb generation on element disconnect
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): cancel debounced thumb generation on element disconnect (#294)
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@7371335b1df55a5b4fdd1ca3e4880986d7b159cf 🚀
  blocks/FileItem/FileItem.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@c4b05c455fcb6d6343a885c4a14a6f68f1f94149 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(connect-blocks-from): remove optional chaining usage
  abstract/connectBlocksFrom.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@fe46060d68666ef23276bbf408b302cfba030d3c 🚀
  abstract/connectBlocksFrom.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@c9259516c372c1805299eca902a9dbe08e272a77 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(register-blocks): remove optional chaining usage
  abstract/registerBlocks.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@6d8b0585b2f03f781f6c3135ae663a969c29fc86 🚀
  abstract/registerBlocks.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@d56574019617ed95932990de08f384111aeaa983 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(modal): disable stroked backdrop by default
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@a37d7a0feae182a97c59885627bb3aae53818da4 🚀
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@17392eabaf74c1a992029ffb98de06bb66f15d8b 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

docs: add `open in new tab` button
  blocks/LiveHtml/LiveHtml.js
  blocks/LiveHtml/live-html.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: bump prettier version
  package-lock.json
  package.json
Due: prettier --write --parser json

docs: updated installation guide
  get-started/installation/README.md
Due: prettier --write --parser markdown

fix(drop-area): open modal on files drop
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(simple-button): show drop area on files drag
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SimpleBtn/simple-btn.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@1978afeafe6b5c67ed5dfbda03a6e0e9bf2d5b22 🚀
  blocks/DropArea/DropArea.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SimpleBtn/simple-btn.css
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

refactor(drop-area): rewrite string drop items parsing
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  blocks/DropArea/getDropItems.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

refactor(drop-area): rewrite string drop items parsing (#309)
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  blocks/DropArea/getDropItems.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@bd89e6bd6c4137e2cbe1f3ecbb5cd1166ae11a6a 🚀
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  blocks/DropArea/getDropItems.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@6284d3dc4e7f169c469bb71603c0929b02cc5297 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Update get-started/installation/README.md
  get-started/installation/README.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@b04fa89db22054d23673d6aa09b3aaa350c8adec 🚀
  get-started/installation/README.md
  get-started/installation/index.html
  index.html
Due: prettier --write --parser html, prettier --write --parser markdown

feat(Block): use real window height instead of 100vh
  abstract/Block.js
  blocks/ExternalSource/external-source.css
  blocks/Modal/modal.css
  blocks/UploadDetails/test/css.css
  blocks/Video/video.css
  solutions/file-uploader/inline/index.css
  utils/createWindowHeightTracker.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix raw.html test example
  blocks/test/raw.htm
Due: none

feat(camera-source): show user media denied error to the user
  blocks/CameraSource/CameraSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(modal): use native `dialog` element & close modal on outside click
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/UploadList/upload-list.css
  blocks/themes/lr-basic/theme.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@1378610ff6072a1725d981917241a15bf33200b6 🚀
  abstract/Block.js
  blocks/CameraSource/CameraSource.js
  blocks/ExternalSource/external-source.css
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/UploadDetails/test/css.css
  blocks/UploadList/upload-list.css
  blocks/Video/video.css
  blocks/test/raw.htm
  blocks/themes/lr-basic/theme.css
  index.html
  solutions/file-uploader/inline/index.css
  utils/createWindowHeightTracker.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

fix(store): set store to `auto` by default
  abstract/UploaderBlock.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@6220c5ea0949d2dccf12ed586d97c33b243f771e 🚀
  abstract/UploaderBlock.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown
