Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: update ssr bundle
  index.ssr.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update lockfile
  package-lock.json
Due: prettier --write --parser json

chore: remove ssr bundle from git
  .gitignore
  index.ssr.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(jsx): add missing lr-file-uploader-inline tag
  types/jsx.d.ts
Due: none

fix(jsx): add missing lr-file-uploader-inline tag (#431)
  types/jsx.d.ts
Due: none

Deploying to gh-pages from @ uploadcare/blocks@a15cc286fa0f09fb21248d425a0223b31ad77154 🚀
  index.html
  types/jsx.d.ts
Due: prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@1b10cce145ffd494cb1e9cc9d50e6b1ab48f7f3d 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(modal): restore scroll lock on modal destroy
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(modal): restore scroll lock on modal destroy (#433)
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@70fad116fe1845b1ff590e765748a770d4f8ee12 🚀
  blocks/Modal/Modal.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@f24ea853072f727f29bec8fae53cae551af472ad 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-uploader-inline): do not try to hide drop area because it's hides itself
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-inline): do not try to hide drop area because it's hides itself (#435)
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@4f110071ba8b7709fcf6fe0f8f727224d5d3763f 🚀
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@3643fac39e0222512293bf2aaef3f61a3040bb43 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-uploader-inline): set init context
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-inline): set init context (#437)
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@81031a7212b17ffe588d8d4e829734c59055aec8 🚀
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@637ef6831885a1cc67c9bde8961fda0a4275e154 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-uploader-inline): add `flex: 1` css property to fill all available space inside flex column container
  blocks/test/raw-inline.htm
  blocks/test/raw-minimal.htm
  blocks/test/raw-regular.htm
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css

fix(package.json): add types to exports field
  package.json
Due: prettier --write --parser json

fix(file-uploader-inline): add `flex: 1` css property to fill all available space inside flex column container (#439)
  blocks/test/raw-inline.htm
  blocks/test/raw-minimal.htm
  blocks/test/raw-regular.htm
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css

fix(package.json): add types to exports field (#440)
  package.json
Due: prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@a781d20217a923b02cd58bc5b093379a5e3b21a4 🚀
  blocks/test/raw-inline.htm
  blocks/test/raw-minimal.htm
  blocks/test/raw-regular.htm
  index.html
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@718f43214105f2b15c36b8d8344c5b723115295c 🚀
  index.html
  package.json
Due: prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@4e2213dee3227ddbae0b628619b8d7ce2c9025f5 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: bump upload-client and symbiote
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

fix: bump upload-client
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

fix: bump upload-client (#442)
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@79fc582ca77ec66713baf692deb8b8319622d3ee 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(progress-bar-common): ignore pointer events when not active
  blocks/ProgressBarCommon/progress-bar-common.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@00e9f8799876cfe506372c80582b81d1a4b8effe 🚀
  blocks/ProgressBarCommon/progress-bar-common.css
  index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@8f5f8b82aee199c3e5a56b8019f07a15b96dafaa 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: get rid of `ctxOwner` flag due to it's buggy behaviour
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/elements/slider/test.js
  blocks/Color/Color.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/Copyright/Copyright.js
  blocks/DataOutput/DataOutput.js
  blocks/DropArea/DropArea.js
  blocks/EditableCanvas/EditableCanvas.js
  blocks/EditableCanvas/EditableCanvasToolbar.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/FilePreview/FilePreview.js
  blocks/Icon/Icon.js
  blocks/LiveHtml/LiveHtml.js
  blocks/MessageBox/MessageBox.js
  blocks/Modal/Modal.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBarCommon/ProgressBarCommon.js
  blocks/Select/Select.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/Video/Video.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(copyright): hide whole `lr-copyright` block if it's disabled
  blocks/Copyright/Copyright.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write
