Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

TODO: output dedicated type
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: do not run prepare workflow on release commits
  .github/workflows/shipjs-manual-prepare.yml
Due: none

chore: do not run checks workflow on push
  .github/workflows/checks.yml
Due: none

chore: symbiote update
  abstract/Block.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/index.css
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/DataOutput/DataOutput.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceList/SourceList.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: ts error
  blocks/SourceList/SourceList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: ts error
  blocks/ExternalSource/ExternalSource.js
  blocks/SourceList/SourceList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: camera settings not depends to activity
  blocks/CameraSource/CameraSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

doc: naming updates
  CONTRIBUTING.md
  README.md
  TOC.md
  assets/js/app-shell.js
  blocks/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore: html titles update
  index.html
  solutions/index.html
  toc.html
Due: prettier --write --parser html

chore: html formatting on pre-commit disabled for the minification purposes
  docs/blocks/README.md
  docs/contexts/README.md
  docs/typescript/README.md
  index.html
  package.json
Due: prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: bump upload-client version
  abstract/Block.js
  submodules/upload-client/upload-client.d.ts
  submodules/upload-client/upload-client.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `setUploadMetadata` public api method
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update readme
  docs/configuration/README.md
Due: prettier --write --parser markdown

fix: ts errors in node_modules =(
  tsconfig.json
Due: prettier --write --parser json

fix: symbiote path
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/EditableCanvas/CanMan.js
  blocks/EditableCanvas/EditableCanvas.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/Tabs/Tabs.js
  blocks/UploadDetails/UploadDetails.js
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `setUploadMetadata` public api method (#172)
  abstract/Block.js
  docs/configuration/README.md
  submodules/upload-client/upload-client.d.ts
  submodules/upload-client/upload-client.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

feat: test:light
  package.json
  test/decorations.js
  test/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: fix worflow syntax
  .github/workflows/shipjs-manual-prepare.yml
Due: none

chore: fix worflow syntax (#175)
  .github/workflows/shipjs-manual-prepare.yml
Due: none

chore: build docs
  docs/configuration/index.html
  index.html
Due: prettier --write --parser html

chore: fix prepare workflow condition
  .github/workflows/shipjs-manual-prepare.yml
Due: none

fix(cloud-editor): do not initialize --cfg-cdn-cname with empty string
  blocks/CloudImageEditor/index.css
Due: stylelint --fix, prettier --write --parser css

fix: add missing FileUploaderInline export
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: bump upload-client version
  submodules/upload-client/upload-client.d.ts
  submodules/upload-client/upload-client.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: Block refactoring and split, stage 2
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/state.js
  blocks/FileItem/FileItem.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/UploadList/UploadList.js
  index.html
  solutions/adaptive-image/README.md
  solutions/adaptive-image/index.html
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser markdown

chore: test:light errors fix
  abstract/Block.js
  blocks/EditableCanvas/test.js
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/test.js
  blocks/FileItem/ref.htm
  blocks/FileItem/test.js
  blocks/Modal/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: super.initCallback(s) + lr-img in blocks demo + error message box fix
  abstract/uploadEntrySchema.js
  assets/htm/upload-blocks-demo.htm
  blocks/DropArea/DropArea.js
  blocks/EditableCanvas/EditableCanvas.js
  blocks/EditableCanvas/EditableCanvasToolbar.js
  blocks/FileItem/FileItem.js
  blocks/MessageBox/MessageBox.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBarCommon/ProgressBarCommon.js
  blocks/Range/Range.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/SourceBtn/SourceBtn.js
  blocks/Tabs/Tabs.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: TS fix
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: lr-select + camera selector WIP
  TOC.md
  abstract/Block.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/index.html
  blocks/CameraSource/ref.htm
  blocks/CameraSource/test.js
  blocks/FileItem/index.html
  blocks/Select/Select.js
  blocks/Select/index.html
  blocks/Select/ref.htm
  blocks/Select/select.css
  blocks/Select/test.js
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/index.css
  toc.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

feat: camera selector
  blocks/CameraSource/CameraSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: lr-select refactor
  blocks/Select/Select.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: drop symbiote.js submodule
  .gitmodules
  package.json
Due: prettier --write --parser json
