Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

unify DropArea styles
  blocks/DropArea/drop-area.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

minimal: l10n
  blocks/themes/lr-basic/l10n.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

camera button, more contrast
  blocks/CameraSource/camera-source.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

chore: fix live html
  blocks/LiveHtml/LiveHtml.js
  utils/ifRef.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: use postcss to bundle css
  .stylelintrc.cjs
  build.js
  package-lock.json
  package.json
  postcss.config.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

fix: wrap ::backdrop rules within @supports rule
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

chore: fix live html (#341)
  blocks/LiveHtml/LiveHtml.js
  utils/ifRef.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@a4fa9af1359dfb1bc1f1e757ea4fe0eb7ead2923 🚀
  blocks/LiveHtml/LiveHtml.js
  index.html
  utils/ifRef.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

fix: single source behaviour
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/StartFrom/StartFrom.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: single source behaviour (#343)
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/StartFrom/StartFrom.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@d2929de53e4352fee815f95124796cd20f930838 🚀
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/StartFrom/StartFrom.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@ea08436be1b6ba022de7d7655515981643a45436 🚀
  .stylelintrc.cjs
  blocks/themes/lr-basic/theme.css
  build.js
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json

Revert "Fix/backdrop css"
  .stylelintrc.cjs
  blocks/themes/lr-basic/theme.css
  build.js
  package-lock.json
  package.json
  postcss.config.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@b21b96b7c11977905c770b2dfc0b171aaf1267f0 🚀
  .stylelintrc.cjs
  blocks/themes/lr-basic/theme.css
  build.js
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json

Local file > From device
  blocks/themes/lr-basic/l10n.css
Due: stylelint --fix, prettier --write --parser css

ActivityHeader init
  blocks/ActivityHeader/ActivityHeader.js
  blocks/ActivityHeader/activity-header.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Revert "ActivityHeader init"
  blocks/ActivityHeader/ActivityHeader.js
  blocks/ActivityHeader/activity-header.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

FileItem: add error message
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix data output docs
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  solutions/file-uploader/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

intermediate commit
  blocks/Modal/modal.css
  blocks/StartFrom/start-from.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/regular/index.css
Due: stylelint --fix, prettier --write --parser css

fix(events): pass the whole file info object to to the `LR_CLOUD_MODIFICATION` event
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(events): emit `LR_DATA_OUTPUT` on image edit
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(data-output): pass files or group URL to the hidden input
  blocks/DataOutput/DataOutput.js
  blocks/DataOutput/ref.htm
  blocks/test/raw.htm
  docs/output/README.md
  solutions/file-uploader/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

2 widths done
  blocks/Modal/modal.css
  solutions/file-uploader/regular/index.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@54975e20c91cd9f4f0f8dffc85d519c83c21d0e6 🚀
  abstract/UploaderBlock.js
  blocks/DataOutput/DataOutput.js
  blocks/DataOutput/index.html
  blocks/DataOutput/ref.htm
  blocks/test/raw.htm
  docs/output/README.md
  docs/output/index.html
  index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@2236dddbe6340cfe86af67f30d1cac9538079a77 🚀
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@f2594a6509137ed0cb22bb0d6a45e2f59a8749c9 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

added DropArea to UploadList
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

minimal mode: multiple files
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

minimal: Add more button
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

add more button height
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

icons done
  blocks/themes/lr-basic/icons.css
Due: stylelint --fix, prettier --write --parser css

error display fix
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

CameraSource width
  blocks/CameraSource/camera-source.css
Due: stylelint --fix, prettier --write --parser css

Add more button update
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  solutions/file-uploader/minimal/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix ExternalSource width
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

fix(shadow-wrapper): hide container until css load
  blocks/ShadowWrapper/ShadowWrapper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update raw.html test page
  blocks/test/raw.htm
Due: none

chore: move regular activity width to the basic theme
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  solutions/file-uploader/regular/index.css
Due: stylelint --fix, prettier --write --parser css
