Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

fix: specify side-effects for .css files
  package.json
Due: prettier --write --parser json

fix: use zero specific css selectors for common classes to allow user to override styles (#209)
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/css/l10n.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/l10n.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix: specify side-effects for .css files (#210)
  package.json
Due: prettier --write --parser json

Update CloudEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: move TypedCollection and TypedData from symbiote to our repo
  abstract/TypedCollection.js
  abstract/TypedData.js
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  index.js
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

fix: move TypedCollection and TypedData from symbiote to our repo (#211)
  abstract/TypedCollection.js
  abstract/TypedData.js
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  index.js
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/uc-blocks@45185da1145f6d5185c3c63eedc5cf6e57d606a4 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: run build on dev script
  package.json
Due: prettier --write --parser json

fix(file-uploader-minimal): ensure current activity is always present
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/uc-blocks@0d9eb80c0c3bb47b887077073ad75c3485f8b934 🚀
  index.html
  package.json
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/uc-blocks@fcf3166e5ab4a2413ee146556269fdb7e6a78c24 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

feat: custom base upload URL support
  abstract/UploaderBlock.js
  blocks/themes/lr-basic/config.css
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

fix: #BLOCKS-130
  blocks/DataOutput/DataOutput.js
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

feat: add clickable attribute to DropArea
  abstract/Block.js
  assets/htm/upload-blocks-demo.htm
  blocks/DropArea/DropArea.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  static-gen/importmap.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

feat: lr-drop-area is-image validation support
  blocks/DropArea/DropArea.js
  blocks/MessageBox/MessageBox.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: data output call bound to upload state and uploaded items removal + lr-img fix
  blocks/DataOutput/DataOutput.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
  blocks/UploadList/UploadList.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Dev (#224)
  abstract/Block.js
  abstract/UploaderBlock.js
  assets/htm/upload-blocks-demo.htm
  blocks/DataOutput/DataOutput.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
  blocks/MessageBox/MessageBox.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/l10n.css
  docs/configuration/README.md
  package-lock.json
  package.json
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/FileUploaderRegular.js
  solutions/file-uploader/regular/demo.htm
  static-gen/importmap.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/uc-blocks@19f0b7b8543a030cd69e1d8bb53b324cb8365cbe 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

feat: connectBlocksFrom added
  abstract/connectBlocksFrom.js
  build-items.js
  index-window.js
  index.js
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: drag-n-drop page img
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: double slash bug with --cfg-cdn-cname trailing slash
  utils/cdn-utils.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: modal layout in Safari
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

feat: workflow evens
  abstract/Block.js
  abstract/EventManager.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: TS error
  blocks/CloudImageEditor/src/EditorFilterControl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: global dragstart handler moved inside the addDropzone function
  blocks/DropArea/addDropzone.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: merge issues
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/uc-blocks@7eb73893b16c619b156ebc6e03fbabe117549c16 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: ctx-owner rendering issue (React)
  abstract/Block.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: bump upload-client version
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

chore: bump upload-client version (#230)
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

fix(cloud-image-editor): errors while edit image multiple times
  blocks/CloudImageEditor/src/EditorImageCropper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): errors while edit image multiple times (#232)
  blocks/CloudImageEditor/src/EditorImageCropper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/uc-blocks@743220d08ec5da0687a6c85438d615cf0ab5a7ee 🚀
  blocks/CloudImageEditor/src/EditorImageCropper.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/uc-blocks@632a32439524affe2d033aa08d861b0c170c5aec 🚀
  abstract/Block.js
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html
