Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: remove todo comment
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(Img): add todo comment to implement secure delivery
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add todo
  abstract/uploadEntrySchema.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(applyTemplateData): simplify - remove deep support
  utils/applyTemplateData.js
  utils/applyTemplateData.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: run tests on ci
  .github/workflows/checks.yml
Due: none

chore: remove uc-configuration component
  blocks/Configuration/Configuration.js
  blocks/Configuration/index.html
  blocks/Configuration/test.js
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

chore: simplify secure delivery, get rid of `previewUrlCallback` and don't pass `fileInfo` to `previewProxy`
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  blocks/test/raw.html
  solutions/cloud-image-editor/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

chore: improve docs
  blocks/test/raw.html
  blocks/themes/uc-basic/config.css
  docs/configuration/--сfg-preview-proxy.md
  docs/configuration/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

chore: remove unused type
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove unused sub
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove unused md
  docs/configuration/--сfg-preview-proxy.md
Due: prettier --write --parser markdown

chore: remove unused import
  utils/applyTemplateData.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove `getProperty` code
  utils/getProperty.js
  utils/getProperty.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: show warnings on unused variables
  .eslintrc
Due: none

chore: encode `previewUrl`
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: little refactor
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(Img): secure delivery support
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: do not default for `--cfg-preview-proxy`
  blocks/themes/uc-basic/config.css
  docs/configuration/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: remove old comment
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove unused import
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: rename `--cfg-preview-proxy` -> `--cfg-secure-delivery-proxy`
  abstract/Block.js
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
  blocks/themes/uc-basic/config.css
  css-types.js
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore(docs): split configuration parameter details into separate pages
  assets/css/doc.css
  docs/configuration/README.md
  docs/configuration/secure-delivery-proxy/README.md
  docs/configuration/secure-delivery-proxy/index.html
  docs/configuration/source-list/README.md
  docs/configuration/source-list/index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

chore(docs): update contact us url
  docs/configuration/secure-delivery-proxy/README.md
Due: prettier --write --parser markdown

feat: passthrough upload-client options
  abstract/Block.js
  blocks/FileItem/FileItem.js
  blocks/themes/uc-basic/config.css
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: after merge fix
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-details): handle not-uploaded images and clear canvase before preview render
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-details): show/hide `cloud edit` button properly
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(docs): sync css config
  docs/configuration/README.md
Due: prettier --write --parser markdown

fix: add `type=button` to all the buttons to prevent form submit
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/EditableCanvas/buttons.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/MessageBox/MessageBox.js
  blocks/Modal/Modal.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

hotfix: ghp google fonts issue
  assets/css/doc.css
Due: stylelint --fix, prettier --write --parser css

chore(cdn-utils): add CdnUrl class
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: activate UploadList activity when any file added to the collection
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: do not pass editorTransformations to the upload entry
  blocks/CloudImageEditor/CloudImageEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(Block): add methods to add files from File, URL or UUID
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(FileItem): fetch fileInfo for non-uploaded files by uuid
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: lr-api block WIP
  abstract/Block.js
  blocks/Api/Api.js
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: optional grouping output support
  abstract/Block.js
  assets/htm/upload-blocks-demo.htm
  blocks/DataOutput/DataOutput.js
  blocks/DataOutput/index.html
  blocks/DataOutput/test.js
  blocks/themes/lr-basic/config.css
  css-types.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

chore: DataOutput documentation
  assets/htm/upload-blocks-demo.htm
  blocks/DataOutput/DataOutput.js
  blocks/DataOutput/index.html
  blocks/README.md
  blocks/themes/lr-basic/config.css
  docs/configuration/README.md
  docs/output/README.md
  docs/output/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

fix: TS fix
  blocks/DataOutput/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: auto-create release from main
  .github/workflows/checks.yml
  .github/workflows/shipjs-manual-prepare.yml
Due: none

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
