Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(cloud-image-editor): get rid of `change` event double initial calling
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-image-editor): get rid of `change` event double initial calling (#386)
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@0cc0b0089c8f897c0ba3e4e951dd20188b21cf86 🚀
  blocks/CloudImageEditor/src/CloudEditor.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@c4d41f7934e8bbc1bd64059ac4a87d080dc2b420 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(modal): backdrop color definition
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

fix(modal): do not manipulate `open` attr if dialog is supported
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(file-uploader-minimal): include `lr-data-output` to the bundle
  solutions/file-uploader/minimal/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(data-output): add `input-required` attribute
  blocks/DataOutput/DataOutput.js
  solutions/file-uploader/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore: bump symbiote
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update input value stub
  blocks/DataOutput/DataOutput.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@b68e0dec1518958b7b2646b6174fd66236d47c2b 🚀
  blocks/DataOutput/DataOutput.js
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  index.html
  package-lock.json
  package.json
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
  solutions/file-uploader/minimal/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@1106c65d00862b2e1d4bd246fe981b4200d4fffb 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(types): allow solution template overriding
  abstract/SolutionBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(docs): set cloud-editor examples body height
  blocks/CloudImageEditor/ref.htm
Due: none

fix(docs): set cloud-editor examples body height (#398)
  blocks/CloudImageEditor/ref.htm
Due: none

Deploying to gh-pages from @ uploadcare/blocks@690760e47903ee693b456c398dab4c165cec3fed 🚀
  blocks/CloudImageEditor/index.html
  blocks/CloudImageEditor/ref.htm
  index.html
Due: prettier --write --parser html

fix(lr-data-output): create dynamic inputs container even if `input-required` is not defined
  blocks/DataOutput/DataOutput.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(lr-data-output): create dynamic inputs container even if `input-required` is not defined (#401)
  blocks/DataOutput/DataOutput.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@cdfce567e888ecedec08d8c3d1dec13e07b7a671 🚀
  blocks/DataOutput/DataOutput.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@0c8e591e7beecd4002c32d0e8ce2bf1c7631efe3 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: remove resize observer fallback
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/lib/ResizeObserver.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(cloud-editor): use resize observer to wait for non-zero container size
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): refetch image on container resize
  blocks/CloudImageEditor/src/EditorImageCropper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(cloud-editor): add timeout 3000ms for non-zero size waiting
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@4550891da0429bbfe9b09de76aab2e3276ef8891 🚀
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/lib/ResizeObserver.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@56ff54646f77c667fa8e9f57de7d1db489e8d187 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(uploader-block): add missing external source types to the UploaderBlock's `sourceTypes` static property
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(types): add type stub for `lr-upload-ctx-provider`
  types/tags.d.ts
Due: none

feat(block): add method `updateCtxCssData` to update css data for all the blocks in the context
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): make ui reactive to css data
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: add `--cfg-remove-copyright` option
  blocks/Copyright/Copyright.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  solutions/file-uploader/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

fix(simple-btn): prevent dropzone flickering on initial render
  blocks/SimpleBtn/simple-btn.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@82db2143956f3308f2223b325e6a5d7b7a6afb8a 🚀
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/Copyright/Copyright.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/SimpleBtn/simple-btn.css
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
  types/tags.d.ts
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@cb495fc595bdc7dd8bbd6a9d47433fbd292334ef 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: bundle stubbed jsx types to npm package
  package.json
  types/jsx.d.ts
Due: prettier --write --parser json

fix: bundle stubbed jsx types to npm package (#414)
  package.json
  types/jsx.d.ts
Due: prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@98de3150181556b8ade97d948ae4aa345adae8ee 🚀
  index.html
  package.json
  types/jsx.d.ts
Due: prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@e86e01d0a6cac7b1ec9570a018e8c58d11b691c1 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: bump dev dependencies
  .stylelintrc.cjs
  build.js
  package-lock.json
  package.json
  tsconfig.types.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
