Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/uc-blocks@3d1b316c07831308c69b3f7dfb675ec43dd14809 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: switch to highlight.js
  blocks/LiveHtml/LiveHtml.js
  blocks/LiveHtml/live-html.css
  package-lock.json
  package.json
  static-gen/build.js
  static-gen/mdProcessor.js
  static-gen/script.js
  tsconfig.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

fix: gitignore exception fro types
  .gitignore
  types/types.d.ts
Due: none

chore: d.ts moved to types
  package.json
  types/https.d.ts
  types/tags.d.ts
Due: prettier --write --parser json

fix: types
  package.json
  tsconfig.types.json
Due: prettier --write --parser json

chore: package keywords
  package.json
Due: prettier --write --parser json

chore: lr-file-uploader-minimal dependency cleanup
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/minimal/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: doc updates + code CDN changes
  README.md
  TOC.md
  abstract/connectBlocksFrom.js
  blocks/README.md
  build-items.js
  docs/events/README.md
  index-browser.js
  index-window.js
  index.js
  package.json
  solutions/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
  static-gen/mdProcessor.js
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json, prettier --write --parser markdown

Update env.js
  env.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update env.js template
  env.template.js
  ship.config.mjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update env.js template (#239)
  env.template.js
  ship.config.mjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/uc-blocks@af8feb093de8df3db5fc7aedb522977bc10b36b2 🚀
  env.template.js
  index.html
  ship.config.mjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/uc-blocks@76846e593286cb6941bdfedd363d77d897ac5478 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: DropArea > prevent activity change on empty list
  blocks/DropArea/DropArea.js
  solutions/file-uploader/minimal/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/uc-blocks@e20c7678cebf9b0e672752990fbce87af7175636 🚀
  blocks/DropArea/DropArea.js
  index.html
  solutions/file-uploader/minimal/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/uc-blocks@1f43f4a4882496dfddcd889b4a46f6e8af5bf793 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: repo name updates
  CONTRIBUTING.md
  README.md
  abstract/UploaderBlock.js
  assets/htm/upload-blocks-demo.htm
  blocks/Img/ref.htm
  blocks/README.md
  docs/configuration/secure-delivery-proxy/README.md
  package.json
  solutions/adaptive-image/demo.htm
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@0ba0d72898c8297886745e629e127bf43ea16a27 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(upload-list): wrong scrollable content height on safari 15.3
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

fix: destory observers inside `disconnectCallback` instead of `destroyCallback` to prevent callback running when element is disconnected
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/lib/debounce.js
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-minimal): do not show empty list
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-list): do not call upload done callback on empty list
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(core): deep clone shared initial state before use it
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-minimal): add missing icons
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

chore: update typescript to 4.8.2 to be able to use `structuredClone`
  package-lock.json
  package.json
  utils/applyTemplateData.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

fix: abort uploading on item remove
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(upload-list): wrong scrollable content height on safari 15.3 (#248)
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

chore: bump symbiote version
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

fix(message-box): specify text-align for message
  blocks/MessageBox/message-box.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@94be102b23dee04cbd4299cd0ebe9623e50a6585 🚀
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  index.html
  package-lock.json
  package.json
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  utils/applyTemplateData.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@fee6e1fb8ac7fd48b6d0bb494d3d4798d85c23fe 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(message-box): specify text-align for message (#254)
  blocks/MessageBox/message-box.css
Due: stylelint --fix, prettier --write --parser css

fix: do not use `structuredClone` due to unsupport in safari <= 15.3
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: do not use `structuredClone` due to unsupport in safari <= 15.3 (#257)
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@e9ee834eb106693bc5c3722d15e7dec8d3747bb3 🚀
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
  blocks/MessageBox/message-box.css
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
