Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: fix husky
  .husky/pre-commit
  package-lock.json
  package.json
  simple-git-hooks.json
Due: prettier --write --parser json

feat: remote-tab-session-key
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/query-string.js
  blocks/themes/uc-basic/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore(docs): add attr description
  docs/configuration/README.md
Due: prettier --write --parser markdown

chore: re-apply format
  blocks/CloudImageEditor/src/css/l10n.css
  blocks/UploadDetails/test/css.css
  blocks/themes/uc-basic/icons.css
  solutions/file-uploader/regular/index.css
Due: stylelint --fix, prettier --write --parser css

chore(docs): uc-img script path changed to latest
  solutions/adaptive-image/README.md
Due: prettier --write --parser markdown

feat: uc-img src
  blocks/Img/ImgBase.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: app-shell backdrop fallback for Firefox
  assets/js/styles.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Grammar update
  assets/htm/regular-uploader-solution-demo.htm
Due: none

Grammar update
  assets/htm/upload-blocks-demo.htm
Due: none

chore: fix `husky` incorrect usage (#126)
  .husky/pre-commit
  .lintstagedrc.json
  blocks/CloudImageEditor/src/css/l10n.css
  blocks/UploadDetails/test/css.css
  blocks/themes/uc-basic/icons.css
  package.json
  solutions/file-uploader/regular/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser json

feat: `current-activity` attr (#124)
  abstract/Block.js
  solutions/file-uploader/inline/demo.snippet.htm
  solutions/file-uploader/inline/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Grammar fixes
  blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Grammar fixes
  blocks/README.md
Due: prettier --write --parser markdown

Grammar fixes
  blocks/themes/uc-basic/README.md
Due: prettier --write --parser markdown

Grammar fixes
  blocks/doc_assets/upload-blocks-demo.htm
Due: none

Grammar fixes
  docs/activities/README.md
Due: prettier --write --parser markdown

Grammar fixes
  docs/configuration/README.md
Due: prettier --write --parser markdown

Grammar fix
  docs/styling/README.md
Due: prettier --write --parser markdown

Grammar fix
  docs/texts/README.md
Due: prettier --write --parser markdown

Grammar fix
  submodules/README.md
Due: prettier --write --parser markdown

Grammar fix
  README.md
Due: prettier --write --parser markdown

Grammar fixes
  solutions/adaptive-image/README.md
Due: prettier --write --parser markdown

Fixed grammar by comments
  solutions/adaptive-image/README.md
Due: prettier --write --parser markdown

feat: `remote-tab-session-key` (#127)
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/query-string.js
  blocks/themes/uc-basic/config.css
  docs/configuration/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: replace module type import with jsdoc type import
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: rename local variable
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update todo comment
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: pass `cdnUrlModifiers` to the output (#125)
  abstract/Block.js
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/lib/cdnUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/types.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: upload-details polishing
  assets/htm/upload-blocks-demo.htm
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadDetails/upload-details.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/config.css
  blocks/themes/uc-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore(rename): cloudEditBtnHidden
  blocks/UploadDetails/UploadDetails.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(docs): README sections reordering
  README.md
Due: prettier --write --parser markdown

chore: fix single file mode behaviour
  abstract/Block.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: use `stringTemplate` to interpolate l10n strings
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: improve `stringTemplate` performance
  utils/stringTemplate.js
  utils/stringTemplate.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: setup unit test flow
  utils/stringTemplate.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: setup unit test flow
  package-lock.json
  package.json
  tsconfig.json
  utils/stringTemplate.js
  utils/stringTemplate.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

feat: implement minmax files count limitation
  abstract/Block.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/MessageBox/message-box.css
  blocks/UploadList/UploadList.js
  blocks/test/raw.html
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/config.css
  blocks/themes/uc-basic/l10n.css
  docs/configuration/README.md
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

chore: subscribe to min/max css flags
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: update readme
  docs/configuration/README.md
Due: prettier --write --parser markdown

fix wording according to changes in DOCS-596
  README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown
