Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(external-source): prevent iframe height overflow
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@b11e35372cc3ad15a4a21f936f49319df8c4ce54 🚀
  blocks/ExternalSource/external-source.css
  index.html
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@b6110dd0630ca65ef30e42eafce387d08979fa24 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@52747075945bc1881f76b052daa830e40a9d2823 🚀
  index.html
Due: prettier --write --parser html

Revert "chore: release v0.14.0"
  CHANGELOG.md
  env.js
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@7ad8e29930aadee6f27973c4454f03582c5b7157 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@e55b1f3b8e1db2f92f2ecfdeddc49dde6e1c53b8 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: bump symbiote version to v1.11.2
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: bump symbiote version to v1.11.2 (#322)
  package-lock.json
  package.json
Due: prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@1d343a9e9ce1b5ff17dcb7abcf94124ccf6a8df1 🚀
  index.html
  package-lock.json
  package.json
Due: prettier --write --parser html, prettier --write --parser json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@8cd23122f276f68d3f900f84f9607982e36124c3 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Fix typorgraphy in blocks docs
  README.md
  TOC.md
  blocks/README.md
  docs/activities/README.md
  docs/blocks/README.md
  docs/events/README.md
  docs/output/README.md
  get-started/configuration/README.md
  get-started/installation/README.md
  solutions/adaptive-image/README.md
  solutions/file-uploader/README.md
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
Due: prettier --write --parser markdown

WIP
  .gitignore
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/DataOutput/DataOutput.js
  blocks/FileItem/FileItem.js
  blocks/utils/userAgent.js
  build-items.js
  build-jsx-types.js
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.types.json
  utils/fileTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@aedcf00de101cbbe704f8072a2b59312ed50f167 🚀
  README.md
  TOC.md
  blocks/README.md
  blocks/index.html
  docs/activities/README.md
  docs/activities/index.html
  docs/blocks/README.md
  docs/blocks/index.html
  docs/events/README.md
  docs/events/index.html
  docs/output/README.md
  docs/output/index.html
  get-started/configuration/README.md
  get-started/configuration/index.html
  get-started/installation/README.md
  get-started/installation/index.html
  index.html
  solutions/adaptive-image/README.md
  solutions/adaptive-image/index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
  toc.html
Due: prettier --write --parser html, prettier --write --parser markdown

Hide TODOs in FU readme
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Hide TODOs in lr-basic readme
  blocks/themes/lr-basic/README.md
Due: prettier --write --parser markdown

Update some copy in the core readme
  README.md
Due: prettier --write --parser markdown

Update README.md
  README.md
Due: prettier --write --parser markdown

Update some copy in blocks/blocks readme
  blocks/README.md
Due: prettier --write --parser markdown

Update some copy for get started articles
  get-started/configuration/README.md
  get-started/installation/README.md
  get-started/localization/README.md
Due: prettier --write --parser markdown

Update README.md
  blocks/README.md
Due: prettier --write --parser markdown

Update some copy for adaptive image readme
  solutions/adaptive-image/README.md
Due: prettier --write --parser markdown

Update demo.htm
  solutions/cloud-image-editor/demo.htm
Due: none

Copy: it's -> its
  blocks/README.md
  blocks/themes/lr-basic/README.md
  docs/output/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Update some copy in file uploader readme
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Update README.md
  blocks/themes/lr-basic/README.md
Due: prettier --write --parser markdown

Copy: upload-blocks to just blocks
  blocks/README.md
  blocks/themes/lr-basic/README.md
  docs/activities/README.md
  docs/styling/README.md
  get-started/configuration/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Fix repo name: blocks-examples
  TOC.md
  blocks/README.md
Due: prettier --write --parser markdown

Fix npm name to @uploadcare/blocks from upload-blocks
  docs/activities/README.md
  get-started/localization/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Fix jsdk -> blocks
  blocks/README.md
Due: prettier --write --parser markdown

Typo in docs URL
  get-started/configuration/README.md
Due: prettier --write --parser markdown

Fix relevant links to imported blocks module
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  get-started/configuration/README.md
Due: prettier --write --parser markdown

Rename upload-blocks-* files to blocks-*
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/test/custom-source-btn/index.htm
  blocks/test/raw-build.htm
Due: prettier --write --parser markdown

Update blocks-demo.htm
  assets/htm/blocks-demo.htm
Due: none

Remove not used demo
  assets/htm/regular-uploader-solution-demo.htm
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

Remove TOC.md
  TOC.md
  static-gen/build.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

Copy and naming fixes (#328)
  README.md
  TOC.md
  assets/htm/blocks-demo.htm
  assets/htm/regular-uploader-solution-demo.htm
  blocks/README.md
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  blocks/themes/lr-basic/README.md
  docs/activities/README.md
  docs/output/README.md
  docs/styling/README.md
  get-started/configuration/README.md
  get-started/installation/README.md
  get-started/localization/README.md
  solutions/adaptive-image/README.md
  solutions/cloud-image-editor/demo.htm
  solutions/file-uploader/README.md
  static-gen/build.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
