Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@ebe1d80e920361469bc0d92c87a554fcca0e5079 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(cloud-editor): solution bundle
  build-items.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): extend from ShadowWrapper
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/blocks@0a2c98043cc3890231ccaec905a8610945de4f15 🚀
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  build-items.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: add empty export to the blocks-browser bundle to fix working under isolatedModules
  index-browser.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: add empty export to the blocks-browser bundle to fix working under isolatedModules (#451)
  index-browser.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@683fb2b359d96550eee1c6e0ccf8873278c207ea 🚀
  index-browser.js
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@b23b967855f553a51cfe42cece41a9393e59d0dd 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

feature(external-source): configurable social base url
  blocks/ExternalSource/ExternalSource.js
  blocks/themes/lr-basic/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(drop-area): fix detection of the active dropzone
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-uploader-inline): update missing `init$` usage that was leading to crash
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(drop-area): invert boolean flags
  blocks/DropArea/DropArea.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@146734f107a48d76c578b540ac592c1d582dd90c 🚀
  blocks/ExternalSource/ExternalSource.js
  blocks/themes/lr-basic/config.css
  index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

fix(drop-area): prevent flickering on file being dragged before init
  blocks/DropArea/addDropzone.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@297a74283e9ec4184ffb4877c58784a0141679cf 🚀
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  index.html
  solutions/file-uploader/inline/FileUploaderInline.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@3a032ed8752ee3dfce90e06ade38ccb1a5897d65 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix(file-item): do not validate local files if no mime type provided (this is the case for drag'n'dropped HEICs)
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(file-item): validate file extensions along with the mime types
  blocks/FileItem/FileItem.js
  utils/fileTypes.js
  utils/fileTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@48053d527cb1445e39bd845c7b1935e30f573590 🚀
  blocks/FileItem/FileItem.js
  index.html
  utils/fileTypes.js
  utils/fileTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@15c21d75f939c9e521ecdca815a2c700588e8698 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Add redirect to uploadcare blocks
  .nojekyll
  404.html
  index.html
Due: prettier --write --parser html

chore: remove pages workflow
  .github/workflows/pages.yml
Due: none

feature: implement `lr-config` block
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/Config.js
  abstract/UploaderBlock.js
  abstract/initialConfig.js
  abstract/sharedConfigKey.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/Copyright/Copyright.js
  blocks/DataOutput/DataOutput.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceList/SourceList.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/test/raw-regular.htm
  blocks/themes/lr-basic/config.css
  index.js
  types/jsx.d.ts
  utils/toKebabCase.js
  utils/toKebabCase.test.js
  utils/warnOnce.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix cloud-cloud editor state
  abstract/initialConfig.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: move config to blocks
  blocks/Config/Config.js
  blocks/Config/config.css
  blocks/themes/lr-basic/index.css
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix after merge
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: typo
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: do not use host-context unsupported in firefox and safari
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
Due: stylelint --fix, prettier --write --parser css

fix(cloud-editor): init editor on initCallback instead of connectedCallback to prevent cases when editor init is going before the block init
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): init editor on initCallback instead of connectedCallback to prevent cases when editor init is going before the block init (#467)
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): double init
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): double init (#469)
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: make file extension validation case-insensitive
  utils/fileTypes.js
  utils/fileTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: make file extension validation case-insensitive (#471)
  utils/fileTypes.js
  utils/fileTypes.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
