Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

refactor: rename `ctxTargetsRegistry` to `ctxBlocksRegistry`
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: set `*activityIcon` to emptry string instead of `null`
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: show `cloud editor` instead of `upload details`
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: revert cloud editor styles
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

fix: activities widths
  blocks/CloudImageEditor/index.css
  blocks/UploadDetails/upload-details.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

feat: do not confirm upload list clearing
  abstract/ActivityBlock.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: show camera instantly on mobile phones
  abstract/UploaderBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/FileItem/file-item.css
  blocks/Modal/modal.css
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadList/upload-list.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: remove lr-upload-details from solutions and demos
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore: remove `onClose` activity callbacak
  abstract/ActivityBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/Modal.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: remove activity icon and caption components from the modal templates
  assets/htm/blocks-demo.htm
  blocks/README.md
  blocks/test/raw-build.htm
  blocks/test/raw.htm
  blocks/test/wrapped.htm
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser markdown

chore: remove `modalHeaderHidden` state property
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/StartFrom/StartFrom.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: add `lr-activity-header` component to be used inside activities
  blocks/ActivityHeader/ActivityHeader.js
  blocks/ActivityHeader/activity-header.css
  blocks/themes/lr-basic/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: use lr-activity-header inside activities
  abstract/ActivityBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/external-source.css
  blocks/Modal/modal.css
  blocks/StartFrom/StartFrom.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/UrlSource/url-source.css
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: remove ActivityIcon and ActivityCaption components
  blocks/ActivityCaption/ActivityCaption.js
  blocks/ActivityCaption/activity-caption.css
  blocks/ActivityCaption/ref.htm
  blocks/ActivityCaption/test.js
  blocks/ActivityIcon/ActivityIcon.js
  blocks/ActivityIcon/activity-icon.css
  blocks/ActivityIcon/ref.htm
  blocks/ActivityIcon/test.js
  blocks/README.md
  index.js
  types/tags.d.ts
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: fix readme
  docs/activities/README.md
  solutions/file-uploader/README.md
Due: prettier --write --parser markdown

chore: use local state for activity icons and captions
  abstract/CTX.js
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadDetails/upload-details.css
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/test/inline-mode.htm
  blocks/test/raw.htm
  blocks/test/split-mode.htm
  blocks/themes/lr-basic/index.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix history back
  abstract/ActivityBlock.js
  abstract/CTX.js
  blocks/Modal/Modal.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add close button on modal headers
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix shadow-wrapper hidden state
  blocks/ShadowWrapper/ShadowWrapper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(upload-list): update activity header texts
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add back button to the some activity modal headers
  abstract/ActivityBlock.js
  abstract/CTX.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/CameraSource.js
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ExternalSource/ExternalSource.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: render real errors in the file item instead of messagebox
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: refactor drop-area content
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
  blocks/test/raw.htm
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: bump upload-client
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: fix camera tab on safari
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: hide activity header in minimal mode
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix: set background for minimal mode
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

chore: allow to deploy pages manually
  .github/workflows/pages.yml
Due: none

fix: hide upload button instead of disabling it
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Merge pull request #360 from uploadcare/chore/allow-deploy-pages-manually
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ uploadcare/blocks@b39e40204b0e24ec76ffab84389fd0e1e9093ec8 🚀
  index.html
Due: prettier --write --parser html

chore: fix darkdmode backgrounds
  blocks/ActivityHeader/activity-header.css
  blocks/CloudImageEditor/index.css
  blocks/ExternalSource/external-source.css
  blocks/StartFrom/start-from.css
  blocks/UploadDetails/upload-details.css
  blocks/UrlSource/url-source.css
Due: stylelint --fix, prettier --write --parser css

fix: camera selector align
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: pluralize upload list header text
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(image-editor): highlight active filters
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

chore: bump symbiote version
  blocks/test/raw-build.htm
  blocks/test/raw.htm
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

fix(image-editor): restore transformations state from the cdn url
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/ref.htm
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/state.js
  utils/cdn-utils.js
  utils/cdn-utils.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: allow custom pluralizers
  abstract/Block.js
  abstract/CTX.js
  abstract/pluralizers.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: specify image types for file input capture accept, fixes Firefox on Android
  abstract/UploaderBlock.js
  blocks/SourceBtn/SourceBtn.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
