Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: replace `stylelint-config-rational-order` with `stylelint-order`
  .stylelintrc.cjs
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: disable new stylelint rule
  .stylelintrc.cjs
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: format files
  README.md
  blocks/CloudImageEditor/src/css/common.css
  blocks/FileItem/FileItem.js
  blocks/themes/lr-basic/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: bump dependencies (#416)
  .stylelintrc.cjs
  README.md
  blocks/CloudImageEditor/src/css/common.css
  blocks/FileItem/FileItem.js
  blocks/themes/lr-basic/README.md
  build.js
  package-lock.json
  package.json
  tsconfig.types.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@a810baaab42c34986e1918a691725957d043a83b 🚀
  .stylelintrc.cjs
  README.md
  blocks/CloudImageEditor/src/css/common.css
  blocks/FileItem/FileItem.js
  blocks/themes/lr-basic/README.md
  blocks/themes/lr-basic/index.html
  build.js
  get-started/configuration/secure-delivery-proxy/index.html
  index.html
  package-lock.json
  package.json
  solutions/file-uploader/index.html
  tsconfig.types.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: add `stringToArray` util
  utils/stringToArray.js
  utils/stringToArray.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add `uniqueArray` util
  utils/uniqueArray.js
  utils/uniqueArray.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add `wildcardRegexp` util
  utils/wildcardRegexp.js
  utils/wildcardRegexp.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: use `stringToArray` everywhere
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/Img/ImgBase.js
  blocks/SourceList/SourceList.js
  blocks/Tabs/Tabs.js
  utils/fileTypes.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: add `--cfg-external-sources-preferred-types` option to configure preferred mime types for the external sources
  abstract/uploadEntrySchema.js
  blocks/ExternalSource/ExternalSource.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  solutions/file-uploader/README.md
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@b0bbcae594f988869231d617fbd118c1f7738e30 🚀
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Img/ImgBase.js
  blocks/SourceList/SourceList.js
  blocks/Tabs/Tabs.js
  blocks/themes/lr-basic/config.css
  get-started/configuration/README.md
  get-started/configuration/index.html
  index.html
  solutions/file-uploader/README.md
  solutions/file-uploader/index.html
  utils/fileTypes.js
  utils/stringToArray.js
  utils/stringToArray.test.js
  utils/uniqueArray.js
  utils/uniqueArray.test.js
  utils/wildcardRegexp.js
  utils/wildcardRegexp.test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/blocks@579fd5c89b8629a3c3cc8a4d4a765b41d164a282 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: begin to migrate to strict typescript
  .husky/pre-commit
  .lintstagedrc.json
  build-items.js
  build.js
  index-browser.js
  index.js
  package.json
  tsconfig.json
  types/global.d.ts
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

fix: stub package exports for SSR
  build-ssr-stubs.js
  index.js
  index.ssr.js
  package-lock.json
  package.json
  tsconfig.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

fix(upload-list): do not try to handle file collection update while being disconnected from DOM
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(external-source): reactive style updates
  blocks/ExternalSource/ExternalSource.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(activity-header): button colors in the darkmode
  blocks/ActivityHeader/activity-header.css
  blocks/themes/lr-basic/common.css
Due: stylelint --fix, prettier --write --parser css

fix(message-box): reduce background lightness in the darkmode
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix(activity-block): reset current activity
  abstract/ActivityBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(simple-btn): safari icon fractional scaling
  blocks/SimpleBtn/simple-btn.css
Due: stylelint --fix, prettier --write --parser css

chore: remove unused css subscriptions
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(source-list): update children when source list is empty
  blocks/SourceList/SourceList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(drop-area): disable and hide drop area if local sources are not allowed
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(shadow-wrapper): prepend css-src style instead of append to make easier to override styles via `shadowStyles`
  blocks/ShadowWrapper/ShadowWrapper.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(block): update css data when block is connected to the DOM only
  abstract/Block.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(activity-block): refactor code
  abstract/ActivityBlock.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(solutions): export LR from web bundles
  solutions/file-uploader/inline/index.js
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore(file-item): fix lost context
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/blocks@2951fc8274e11fe7cd38e774426b966c749fcda3 🚀
  build-ssr-stubs.js
  index.html
  index.js
  index.ssr.js
  package-lock.json
  package.json
  tsconfig.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@38287df3d51fe56858e57ebf799c9113a842fd35 🚀
  abstract/ActivityBlock.js
  abstract/Block.js
  blocks/ActivityHeader/activity-header.css
  blocks/DropArea/DropArea.js
  blocks/DropArea/addDropzone.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/SimpleBtn/simple-btn.css
  blocks/SourceList/SourceList.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
  index.html
  solutions/file-uploader/inline/index.js
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html

Deploying to gh-pages from @ uploadcare/blocks@15dc46eec40ce32febf2838e6455ad1eea54e1bb 🚀
  .husky/pre-commit
  .lintstagedrc.json
  build-items.js
  build.js
  index-browser.js
  index.html
  index.js
  package.json
  tsconfig.json
  types/global.d.ts
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json

chore: add default exports
  package.json
Due: prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@0619167a6f79abd65fb837c6c7133a8912ca0bcc 🚀
  index.html
  package.json
Due: prettier --write --parser html, prettier --write --parser json

Deploying to gh-pages from @ uploadcare/blocks@424fa687debd0bf77990505d5322917a67bbc942 🚀
  CHANGELOG.md
  env.js
  get-started/configuration/index.html
  get-started/installation/index.html
  index.html
  package-lock.json
  package.json
  solutions/adaptive-image/index.html
  solutions/file-uploader/index.html
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: fix ci github user
  .github/workflows/shipjs-trigger.yml
Due: none

Deploying to gh-pages from @ uploadcare/blocks@cb72ef5b975aaec9a239116c1e83b4202f40f6d2 🚀
  index.html
Due: prettier --write --parser html

fix(file-item): error while rewoke thumb
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: add missing cssInit$ nesting everywhere
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/Copyright/Copyright.js
  blocks/DataOutput/DataOutput.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/SourceList/SourceList.js
  blocks/UploadDetails/UploadDetails.js
  blocks/UploadList/UploadList.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat: queue every upload request
  abstract/CTX.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/themes/lr-basic/config.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: bump upload-client version
  blocks/test/raw-inline.htm
  blocks/test/raw-minimal.htm
  blocks/test/raw-regular.htm
  package-lock.json
  package.json
  static-gen/importmap.json
Due: prettier --write --parser json

Path conditions:
  tsc --skipLibCheck --allowJs --noEmit: any of: *.{js,cjs}
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser html: any of: *.html
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
