Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["tsc --skipLibCheck --allowJs --noEmit", "eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.html": ["prettier --write --parser html", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: rename non-generated .html to .html
  blocks/CloudImageEditor/src/elements/button/test.htm
  blocks/CloudImageEditor/src/elements/slider/test.htm
  blocks/EditableCanvas/test/test.htm
  blocks/UploadDetails/test/test.htm
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/raw-build.htm
  blocks/test/raw.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  docs/block-component/index.htm
Due: none

chore: add script to clean html files
  package.json
Due: prettier --write --parser json

chore: build pages on ci
  .github/workflows/pages.yml
Due: none

chore: try to fix pages build
  .github/workflows/pages.yml
  .gitignore
Due: none

Deploying to gh-pages from @ uploadcare/uc-blocks@2e81fcc2ede814f1716f5049539d29d08dffe119 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: empty camera labels return on some platforms
  abstract/ActivityBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/themes/lr-basic/l10n.css
  static-gen/importmap.json
  static-gen/tpl/main.tpl.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

fix: camera label
  blocks/CameraSource/CameraSource.js
  blocks/themes/lr-basic/l10n.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Deploying to gh-pages from @ uploadcare/uc-blocks@b0806b78f670c9144a6b8b3dbae43f89366e38e6 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/uc-blocks@6667b8337cc37537e1301c7f86ae598678ce65af 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

Deploying to gh-pages from @ uploadcare/uc-blocks@c3c4ece6c24ea36d2121f3d33124104336654911 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

fix: irRef in CameraSource ref
  blocks/CameraSource/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: camera-source test
  blocks/CameraSource/test.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(img): proxify image load and error events
  blocks/Img/ImgBase.js
  blocks/Img/ref.htm
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

feat(img): proxify image load and error events (#202)
  blocks/Img/ImgBase.js
  blocks/Img/ref.htm
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

Deploying to gh-pages from @ uploadcare/uc-blocks@69198f585b02163bc199dca8e640046fd4a1cf05 🚀
  CHANGELOG.md
  env.js
  index.html
  package-lock.json
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser html, prettier --write --parser json, prettier --write --parser markdown

chore: clean test folder
  package.json
Due: prettier --write --parser json

chore: use `@uploadcare/upload-client` from NPM
  .eslintignore
  .github/workflows/checks.yml
  .github/workflows/shipjs-trigger.yml
  .gitignore
  .prettierignore
  .stylelintignore
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/DataOutput/DataOutput.js
  blocks/FileItem/FileItem.js
  package-lock.json
  package.json
  static-gen/importmap.json
  submodules/README.md
  submodules/upload-client/upload-client.d.ts
  submodules/upload-client/upload-client.js
  tsconfig.json
  tsconfig.types.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json, prettier --write --parser markdown

chore: remove css types
  build-css-types.js
  css-types.js
  package.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

feat: add `--cfg-user-agent-integration` option
  abstract/UploaderBlock.js
  blocks/utils/userAgent.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: use jspm instead of unpkg
  static-gen/importmap.json
Due: prettier --write --parser json

chore: watch dev script
  package-lock.json
  package.json
  watch.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json

chore: setup default value for `--cfg-user-agent-integration`
  blocks/themes/lr-basic/config.css
Due: stylelint --fix, prettier --write --parser css

chore: fix import extension
  watch.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(cloud-editor): create own context
  blocks/CloudImageEditor/src/CloudEditor.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

refactor(cloud-editor): transitions
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: lr-video stage 1
  TOC.md
  abstract/Block.js
  blocks/CloudImageEditor/src/elements/slider/test.htm
  blocks/EditableCanvas/test/test.htm
  blocks/FileItem/ref.htm
  blocks/Icon/ref.htm
  blocks/ProgressBar/ref.htm
  blocks/Range/Range.js
  blocks/Range/range.css
  blocks/Range/ref.htm
  blocks/Select/ref.htm
  blocks/SimpleBtn/ref.htm
  blocks/SourceBtn/ref.htm
  blocks/SourceList/ref.htm
  blocks/StartFrom/ref.htm
  blocks/Tabs/ref.htm
  blocks/UploadCtxProvider/UploadCtxProvider.js
  blocks/UploadDetails/ref.htm
  blocks/UploadDetails/test.js
  blocks/UploadList/ref.htm
  blocks/UploadList/test.js
  blocks/UrlSource/ref.htm
  blocks/UrlSource/test.js
  blocks/Video/Video.js
  blocks/Video/ref.htm
  blocks/Video/test-track.vtt
  blocks/Video/test.js
  blocks/Video/video.css
  blocks/Video/video.json
  index.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

feat: go-to-time
  blocks/Video/Video.js
  blocks/Video/video.css
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(file-item): call IntersectionObserver.unobserve in the right places
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix(data-output): do not set value property
  blocks/DataOutput/DataOutput.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: replace `connectedCallback` with `initCallback` and `disconnectedCallback` with `destroyCallback`
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

chore: refactor observers
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/lib/ResizeObserver.js
  blocks/FileItem/FileItem.js
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write

fix: use zero specific css selectors for common classes to allow user to override styles
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/css/l10n.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/l10n.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix: volume range behavior
  abstract/Block.js
  blocks/Video/Video.js
  blocks/Video/ref.htm
  blocks/Video/test-track.vtt
  blocks/Video/video.json
Due: tsc --skipLibCheck --allowJs --noEmit, eslint --fix, prettier --write, prettier --write --parser json
